.login-container {
  display: flex;
  height: 100vh;

  .left-section {
    background-color: #171819;
    color: white;
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }

  }

  .right-section {
    background-color: #fdfdfd;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}